*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}

header{
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: space-between;
}

.checkbox-menu{
    display: none;
}

.checkbox-menu:checked + nav{
    display: block;
}
.checkbox-menu:not(:checked) + nav{
    display: none;
}


nav{
    background-color: green;
    color: white;
}

.level-2{
    display: none;
} 
